#first-display .zoom {
    transition: all 0.5s ease-in-out;
}

/*start anime for block uslugi*/
.anime #list-uslugs #uslug1_circle1,
.anime#block-uslugi2 #uslug1_circle1 {
    opacity: 0;
    animation: cirlce1 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.anime #list-uslugs #uslug1_circle2,
.anime#block-uslugi2 #uslug1_circle2 {
    opacity: 0;
    animation: cirlce2 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.anime #list-uslugs #uslug2_circle,
.anime #uslug5_circle,
.anime #uslug6_circle1,
.anime#block-uslugi2 #uslug5_circle {
    opacity: 0;
    animation: cirlce3 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.anime #uslug6_circle2 {
    opacity: 0;
    animation: cirlce4 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.anime #list-uslugs .img .top,
.anime #list-uslugs .img .bottom {
    animation: height 1s ease-in-out;
    animation-fill-mode: forwards;
}

.anime #uslug2_path,
.anime #uslug3_path1,
.anime #uslug3_path2,
.anime #uslug3_path3,
.anime #uslug3_path4,
.anime #uslug4_path2,
.anime #uslug5_path1,
.anime #uslug5_path2,
.anime #uslug6_line1,
.anime #uslug6_line2 {
    opacity: 0;
    animation: dash 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.anime #uslug4_path1 {
    opacity: 0;
    animation: dash2 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.anime #us3_rect1 {
    opacity: 0;
    animation: cirlce5 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.anime #us3_rect2 {
    opacity: 0;
    animation: cirlce6 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.anime #us3_path {
    opacity: 0;
    animation: dash3 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes height {
    from {
        height: 0;
    }

    to {
        height: 50%;
    }
}

@keyframes cirlce1 {
    from {
        opacity: 1;
        stroke-dasharray: 0 431
    }

    to {
        opacity: 1;
        stroke-dasharray: 431 431
    }
}

@keyframes cirlce2 {
    from {
        opacity: 1;
        stroke-dasharray: 0 242
    }

    to {
        opacity: 1;
        stroke-dasharray: 242 242
    }
}

@keyframes cirlce3 {
    from {
        opacity: 1;
        stroke-dasharray: 0 377
    }

    to {
        opacity: 1;
        stroke-dasharray: 377 377
    }
}

@keyframes cirlce4 {
    from {
        opacity: 1;
        stroke-dasharray: 0 195
    }

    to {
        opacity: 1;
        stroke-dasharray: 195 195
    }
}

@keyframes cirlce5 {
    from {
        opacity: 1;
        stroke-dasharray: 0 195
    }

    to {
        opacity: 1;
        stroke-dasharray: 355 195
    }
}

@keyframes cirlce6 {
    from {
        opacity: 1;
        stroke-dasharray: 0 55
    }

    to {
        opacity: 1;
        stroke-dasharray: 75 55
    }
}

@keyframes dash {
    0% {
        opacity: 1;
        stroke-dasharray: 0 300
    }

    100% {
        opacity: 1;
        stroke-dasharray: 300 1000;
    }
}

@keyframes dash2 {
    0% {
        opacity: 1;
        stroke-dasharray: 0 400
    }

    100% {
        opacity: 1;
        stroke-dasharray: 400 1200;
    }
}

@keyframes dash3 {
    0% {
        opacity: 1;
        stroke-dasharray: 0 50
    }

    100% {
        opacity: 1;
        stroke-dasharray: 90 50;
    }
}

/*end block uslugi*/

/*start block portfolio*/
.anime #slider-portfolio .left h3:first-child {
    animation: height_out infinite 6.5s ease-in-out;
}

.anime #slider-portfolio .left p:nth-of-type(1) {
    animation: height_out3 infinite 6.5s ease-in-out;

}

.anime #slider-portfolio .left h3:nth-of-type(2) {
    animation: height_out2 infinite 6.5s ease-in-out;
    animation-delay: 1s;
}

.anime #slider-portfolio .left p:nth-of-type(2) {
    animation: height_out4 infinite 6.5s ease-in-out;
    animation-delay: 1s;
}

@keyframes height_out {
    0% {
        height: 36px;
    }

    40% {
        height: 0px;
    }

    80% {
        height: 0px;
    }

    100% {
        height: 36px;
    }
}

@keyframes height_out2 {
    0% {
        height: 0;
    }

    40% {
        height: 36px;
    }

    45% {
        height: 36px;
    }

    100% {
        height: 0;
    }
}

@keyframes height_out3 {
    0% {
        height: 40px;
    }

    40% {
        height: 0;
    }

    80% {
        height: 0;
    }

    100% {
        height: 40px;
    }
}

@keyframes height_out4 {
    0% {
        height: 0;
    }

    40% {
        height: 40px;
    }

    45% {
        height: 40px;
    }

    100% {
        height: 0;
    }
}