@media screen and (max-width:767px) {

    header nav a:hover,
    header nav a.active {
        opacity: 0.5 !important;
        color: transparent !important;
    }

    #toggle {
        position: absolute;
        left: -100%;
        top: -100%;
        display: block !important;
    }

    .toggle-container {
        display: block !important;
    }

    #toggle:checked~.toggle-container .button-toggle:before {
        -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
        -ms-transform: translateY(-50%) rotate(45deg) scale(1);
        transform: translateY(-50%) rotate(45deg) scale(1);
    }

    #toggle:checked~.toggle-container .button-toggle:after {
        -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
        -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
        transform: translateY(-50%) rotate(-45deg) scale(1);
    }

    #toggle:checked~.menu {
        margin-bottom: 100px;
        pointer-events: auto;
        width: 100%;
        -webkit-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    #toggle:checked~.menu .nav-item {
        letter-spacing: 0;
        margin-top: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        line-height: 24px;
        padding: 45px 0;
        width: 100%;
        height: auto;
        opacity: 1;
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: 0.5s, opacity 0.1s;
        transition: 0.5s, opacity 0.1s;
    }

    #toggle:checked~.menu .zoom_a:nth-child(1) .nav-item {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
        background: #F8AD03;
        color: #000 !important;
        opacity: 1 !important;
    }

    #toggle:checked~.menu .zoom_a:nth-child(1) .nav-item:before {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    #toggle:checked~.menu .zoom_a:nth-child(2) .nav-item {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        background: #B72A22;
        color: #fff !important;
        opacity: 1 !important;
    }

    #toggle:checked~.menu .zoom_a:nth-child(2) .nav-item:before {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    #toggle:checked~.menu .zoom_a:nth-child(3) .nav-item {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        background: #EF7D2A;
        color: #000 !important;
        opacity: 1 !important;
    }

    #toggle:checked~.menu .zoom_a:nth-child(3) .nav-item:before {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

    #toggle:checked~.menu .zoom_a:nth-child(4) .nav-item {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        background: #E63D28;
        color: #fff !important;
        opacity: 1 !important;
    }

    #toggle:checked~.menu .zoom_a:nth-child(4) .nav-item:before {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    #toggle:checked~.menu .nav-item:before {
        opacity: 0;
    }

    /* Toggle button */
    .button-toggle {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        margin: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 100%;
        -webkit-transition: 0.6s;
        transition: 0.6s;
    }

    .button-toggle:before,
    .button-toggle:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 5px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .button-toggle:before {
        -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
        -ms-transform: translateY(-50%) rotate(45deg) scale(0);
        transform: translateY(-50%) rotate(45deg) scale(0);
    }

    .button-toggle:after {
        -webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
        -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
        transform: translateY(-50%) rotate(-45deg) scale(0);
    }

    /* Menu */
    .menu {
        display: inline-block !important;
        margin: 17px 0 0;
        pointer-events: none;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        position: absolute;
        right: 0;
        top: 5px;
        width: 53px;
        z-index: 56;
    }

    .zoom_a {
        margin: 0 !important;
    }

    .nav-item {
        position: relative;
        display: inline-block;
        float: left;
        clear: both;
        color: transparent !important;
        font-size: 14px;
        letter-spacing: -6.2px;
        height: 7px;
        line-height: 7px !important;
        font-weight: normal !important;
        text-transform: uppercase;
        white-space: nowrap;
        -webkit-transform: scaleY(0.2);
        -ms-transform: scaleY(0.2);
        transform: scaleY(0.2);
        -webkit-transition: 0.5s, opacity 1s;
        transition: 0.5s, opacity 1s;
    }

    .zoom_a:nth-child(1) .nav-item {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    .zoom_a:nth-child(1) .nav-item:before {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    .zoom_a:nth-child(2) .nav-item {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

    .zoom_a:nth-child(2) .nav-item:before {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

    .zoom_a:nth-child(3) .nav-item {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .zoom_a:nth-child(3) .nav-item:before {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .zoom_a:nth-child(4) .nav-item {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    .zoom_a:nth-child(4) .nav-item:before {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    .zoom_a:nth-child(1) .nav-item {
        letter-spacing: -2.1px;
    }

    .zoom_a:nth-child(2) .nav-item {
        letter-spacing: -3.3px;
    }

    .zoom_a:nth-child(n + 4) .nav-item {
        letter-spacing: -8px;
        margin-top: -7px;
        opacity: 0 !important;
    }

    .nav-item:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
        -webkit-transform: translateY(-50%) scaleY(5);
        -ms-transform: translateY(-50%) scaleY(5);
        transform: translateY(-50%) scaleY(5);
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .black .nav-item:before,
    .black .button-toggle:before,
    .black .button-toggle:after {
        background-color: #fff
    }
}